#### Requirements for running the server ####
chardet
django-autocomplete-light
django-background-tasks
django-ckeditor
Pillow
python-decouple
pytz
django-crontab
SoundFile
cffi
pycparser
decorator
pooch

#### Requirements for development and testing ####
django-debug-toolbar
requests

#### Indirect requirements ####
six

# required by Django 2.2.3
sqlparse

# required by django-ckeditor 5.7.1
django-js-asset

# required by django-background-tasks 1.2.0
django-compat

# required by requests 2.21.0
certifi
idna
urllib3

# required for wfdb
wfdb
cycler
joblib
kiwisolver
matplotlib
mne
nose
numpy
pandas
pyparsing
python-dateutil
scikit-learn
scipy
sklearn
threadpoolctl

# required for data visualization
django-plotly-dash
dpd-components
dash-html-components
dash
dash-core-components
dash-renderer
dash-table
plotly

# required by dash
Flask-Compress
future
Jinja2
itsdangerous
click
retrying

# required for dash cache
django-redis
redis
Deprecated
packaging
wrapt

# required by flask-compress
Brotli

# required by Jinja2
MarkupSafe

# required by GraphQL API
aniso8601
graphql-core~=3.2.0
graphql-relay
graphql-server==3.0.0b5
promise
Rx
asgiref
graphene-django==3.0.0b7
singledispatch
Unidecode
django-filter

# Extra
charset-normalizer
tenacity
whitenoise
appdirs
tqdm
channels
dash-bootstrap-components
Werkzeug
Django
Flask
graphene
