#### Requirements for running the server ####
chardet==3.0.4 
Django==2.2.13  
django-autocomplete-light==3.3.4 
django-background-tasks==1.2.0 
django-ckeditor==5.7.1 
Pillow==7.0.0    
python-decouple==3.1 
pytz==2018.3 
django-crontab==0.7.1  

#### Requirements for development and testing ####
django-debug-toolbar==1.9.1 
requests==2.26.0 

#### Indirect requirements ####
six==1.12.0 

# required by Django 2.2.3
sqlparse==0.2.4 

# required by django-ckeditor 5.7.1
django-js-asset==0.1.1 

# required by django-background-tasks 1.2.0
django-compat==1.0.15 

# required by requests 2.21.0
certifi==2019.6.16 
idna==2.8 
urllib3==1.24.3 

# required for wfdb
wfdb==3.1.0 
cycler==0.10.0 
joblib==0.16.0 
kiwisolver==1.2.0  
matplotlib==3.3.0  
mne==0.20.7 
nose==1.3.7 
numpy==1.19.1   
pandas==1.1.0   
pyparsing==2.4.7 
python-dateutil==2.8.1 
scikit-learn==0.23.1  
scipy==1.5.2   
sklearn==0.0 
threadpoolctl==2.1.0 

# required for data visualization
django_plotly_dash==1.6.6 
dpd-components==0.1.0 
dash-html-components==1.1.3 
dash==1.20.0 
dash-core-components==1.16.0 
dash-renderer==1.9.1 
dash-table==4.11.3 
flask==1.1.2 
plotly==5.4.0 

# required by dash
flask-compress==1.5.0 
future==0.18.2 
Jinja2==2.11.2 
itsdangerous==1.1.0 
Werkzeug==1.0.1 
click==7.1.2 
retrying==1.3.3 

# required for dash cache
django-redis==5.2.0 
redis==4.1.1 
Deprecated==1.2.13 
packaging==21.3 
wrapt==1.13.3  

# required by flask-compress
brotli==1.0.7  

# required by Jinja2
MarkupSafe==1.1.1   

# required by GraphQL API
aniso8601==7.0.0 
graphene==2.1.8 
graphql-core==2.3.2 
graphql-relay==2.0.1 
promise==2.3 
Rx==1.6.1 
asgiref==3.2.10 
graphene-django==2.12.1 
singledispatch==3.4.0.3 
Unidecode==1.1.1 
django-filter==2.4.0 

# Extra
charset-normalizer==2.0.0 
tenacity==6.2.0 
whitenoise==5.3.0 