{% extends "base.html" %}
{% block content %}

<body>
  <div class="container">
    <div>
      <div>
        <br />
        <div>
          <h3>Reset Password Confirm</h3>
        </div>
        <p>
          We've emailed you instructions for resetting your password, if an account exists with the username you entered.
          You should receive them shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the username you registered with,
          and check your email's spam folder.
        </p>
        <p>
          <a href="{% url 'login' %}">Return to login page</a>
        </p>
      </div>
    </div>
  </div>
</body>

{% endblock %}
