{% extends "base.html" %}
{% block content %}

<body>
  <div class="container">
    <div>
      <div>
        <br />
        <div>
          <h3>Reset Password</h3>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div>
            <p>Enter username here: {{ form.username }}</p>
          </div>
          <div>
            <p>Enter your account's email here: {{ form.email }}</p>
          </div>
          <button type="submit">Send reset email</button>
        </form>
        {{ form.errors }}
        <br />
        <p>
          Remember your password? <a href="{% url 'login' %}">Return to login page</a>
        </p>
      </div>
    </div>
  </div>
</body>

{% endblock %}
