{% extends "base.html" %}
{% block content %}

<div class="container">
	<div>
		  <p>
		    We've emailed you instructions for setting your password, if an account exists with the username you entered.
		    You should receive them shortly.
		  </p>
		  <p>
		    If you don't receive an email, please make sure you've entered the username you registered with,
		    and check your email's spam folder.
		  </p>
		  <p>
        <a href="{% url 'login' %}">Return to login page</a>
      </p>
	</div>
</div>

{% endblock %}
