{% extends "base.html" %}
{% block navbar%} {% endblock %}
{% block content %}

<body>
  <div class="container">
    <div>
      <div>
        <br />
        <div>
          <h3>Change Password</h3>
        </div>
        <form method="post">
          {% csrf_token %}
          <div>
            <p>Enter you username here: {{ form.username }}</p>
          </div>
          <div>
            <p>Enter you new password here: {{ form.password1 }}</p>
          </div>
          <div>
            <p>Re-enter you new password here: {{ form.password2 }}</p>
          </div>
          <button type="submit">Change password</button>
        </form>
        {% comment %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
        {% endcomment %}
        <p>
          <a href="{% url 'login' %}">Return to login page</a>
        </p>
      </div>
    </div>
  </div>
</body>

{% endblock %}
