{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <h1>All Adjudications</h1>
  <div>
    <span style="font-size: 20px; float: left;">Total Complete</span>
    <span style="font-size: 20px; float: right;">{{ progress }}</span>
    <br/><br/>
  </div>

  {% if bookmarked.count > 0 %}
  <div id="bookmarked">
    <h2>Bookmarked Conflicts</h2>
  </div>
  {% if page_info.0 %}
  <div class="page-links">
    {% if page_info.0.has_previous %}
    <a href="{% url 'render_adjudications' %}?bookmarked_page={{ page_info.0.previous_page_number }}#bookmarked">Previous
      Page</a>&emsp;
    {% endif %}
    {% if page_info.0.has_next %}
    <a href="{% url 'render_adjudications' %}?bookmarked_page={{ page_info.0.next_page_number }}#bookmarked">Next
      Page</a>&emsp;
    {% endif %}
    {% if request.GET.bookmarked_page == 'all' %}
    <a href="{% url 'render_adjudications' %}?bookmarked_page=1#bookmarked">Show pages</a>
    {% endif %}
    {% if page_info.0.has_next or page_info.0.has_previous %}
    <a href="{% url 'render_adjudications' %}?bookmarked_page=all#bookmarked">Show all</a>
    {% endif %}
  </div>
  {% endif %}
  <div id="Bookmarked-Conflicts">
    {% for waveform in bookmarked%}
    {% ifchanged waveform.project waveform.record %}
    {% if not forloop.first %}
  </div>
  <hr>
  {% endif %}
  <div class="panel">
    <h4 style="float: left;">{{ waveform.project}}:&emsp;{{ waveform.record }}</h4><br /><br />
    {% endifchanged %}

    <h5 style="float: left;">{{ waveform.event }} (<a
        href="{% url 'waveform_published_specific_adjudicate' waveform.project waveform.record waveform.event %}">View
        waveform <i class="fa fa-external-link fa-xs"></i></a>&emsp;|&emsp;<a
        href="{% url 'delete_adjudication' waveform.project waveform.record waveform.event %}">Delete Bookmark
        <i class="fa fa-trash-o	"></i></a>)</h5>

    <table style="width:100%">
      <tr>
        {% for cat in categories %}
        <th>
          {{ cat }}
        </th>
        {% endfor %}
      </tr>

      {% for annotation in waveform.annotation_set.all %}
      <tr>
        <td>
          {{ annotation.user.username }}
        </td>
        <td>
          {{ annotation.decision}}
        </td>
        <td>
          {{ annotation.decision_date }}
        </td>
        <td>
          {{ annotation.comments }}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    {% endfor %}
  </div>
  <br>
  {% endif %}

  {% if conflicts.count > 0 %}
  <div id="conflicts">
    <h2>Conflicting Annotations</h2>
  </div>
  {% if page_info.1 %}
  <div class="page-links">
    {% if page_info.1.has_previous %}
    <a href="{% url 'render_adjudications' %}?conflicts_page={{ page_info.1.previous_page_number }}#conflicts">Previous
      Page</a>&emsp;
    {% endif %}
    {% if page_info.1.has_next %}
    <a href="{% url 'render_adjudications' %}?conflicts_page={{ page_info.1.next_page_number }}#conflicts">Next
      Page</a>&emsp;
    {% endif %}
    {% if request.GET.conflicts_page == 'all' %}
    <a href="{% url 'render_adjudications' %}?conflicts_page=1#conflicts">Show pages</a>
    {% endif %}
    {% if page_info.1.has_next or page_info.1.has_previous %}
    <a href="{% url 'render_adjudications' %}?conflicts_page=all#conflicts">Show all</a>
    {% endif %}
  </div>
  {% endif %}
  <div id="Conflicting-Decisions">
    {% for waveform in conflicts%}
    {% ifchanged waveform.project waveform.record %}
    {% if not forloop.first %}
  </div>
  <hr>
  {% endif %}
  <div class="panel">
    <h4 style="float: left;">{{ waveform.project}}:&emsp;{{ waveform.record }}</h4><br /><br />
    {% endifchanged %}

    <h5 style="float: left;">{{ waveform.event }} (<a
        href="{% url 'waveform_published_specific_adjudicate' waveform.project waveform.record waveform.event %}">View
        waveform <i class="fa fa-external-link fa-xs"></i></a>)</h5>

    <table style="width:100%">
      <tr>
        {% for cat in categories %}
        <th>
          {{ cat }}
        </th>
        {% endfor %}
      </tr>

      {% for annotation in waveform.annotation_set.all %}
      <tr>
        <td>
          {{ annotation.user.username }}
        </td>
        <td>
          {{ annotation.decision}}
        </td>
        <td>
          {{ annotation.decision_date }}
        </td>
        <td>
          {{ annotation.comments }}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    {% endfor %}
  </div>
  <br>
  {% endif %}
  {% if adjudicated.count > 0 %}
  <div id="adjudicated">
    <h2>Adjudicated Waveforms</h2>
  </div>
  {% if page_info.2 %}
  <div class="page-links">
    {% if page_info.2.has_previous %}
    <a href="{% url 'render_adjudications' %}?adjudicated_page={{ page_info.2.previous_page_number }}#adjudicated">Previous
      Page</a>&emsp;
    {% endif %}
    {% if page_info.2.has_next %}
    <a href="{% url 'render_adjudications' %}?adjudicated_page={{ page_info.2.next_page_number }}#adjudicated">Next
      Page</a>&emsp;
    {% endif %}
    {% if request.GET.adjudicated_page == 'all' %}
    <a href="{% url 'render_adjudications' %}?adjudicated_page=1#adjudicated">Show pages</a>
    {% endif %}
    {% if page_info.2.has_next or page_info.2.has_previous %}
    <a href="{% url 'render_adjudications' %}?adjudicated_page=all#adjudicated">Show all</a>
    {% endif %}
  </div>
  {% endif %}
  <div id="Adjudicated-Events">
    {% for waveform in adjudicated%}
    {% ifchanged waveform.project waveform.record %}
    {% if not forloop.first %}
  </div>
  <hr>
  {% endif %}
  <div class="panel">
    <h4 style="float: left;">{{ waveform.project}}:&emsp;{{ waveform.record }}</h4><br /><br />
    {% endifchanged %}

    <h5 style="float: left;">{{ waveform.event }} (<a
        href="{% url 'waveform_published_specific_adjudicate' waveform.project waveform.record waveform.event %}">View
        waveform <i class="fa fa-external-link fa-xs"></i></a>&emsp;|&emsp;<a
        href="{% url 'delete_adjudication' waveform.project waveform.record waveform.event %}">Delete Adjudication
        <i class="fa fa-trash-o	"></i></a>)</h5>

    <table style="width:100%">
      <tr>
        {% for cat in categories %}
        <th>
          {{ cat }}
        </th>
        {% endfor %}
      </tr>

      {% for annotation in waveform.annotation_set.all %}
      <tr {% if annotation.is_adjudication %} style="color:purple; font-weight: bold;" {% endif %}>
        <td>
          {{ annotation.user.username }}
        </td>
        <td>
          {{ annotation.decision}}
        </td>
        <td>
          {{ annotation.decision_date }}
        </td>
        <td>
          {{ annotation.comments }}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    {% endfor %}
  </div>
  {% endif %}
  <br>
</div>
{% endblock %}