{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <span>User: {{ user.username }} ... <a href="{% url 'logout' %}">Logout</a></span>
  <table class="table table-bordered">
    <tr>
      {% if user.is_admin %}
        <th class="text-center table-dark">
          <a href="{% url 'admin_console' %}">Admin Console</a>
        </th>
      {% endif %}
      <th class="text-center">
        <a href="{% url 'waveform_published_home' %}">Create More Annotations</a>
      </th>
      <th class="text-center">
        <a href="{% url 'render_annotations' %}">Current Assignment</a>
      </th>
      <th class="text-center">
        <a href="{% url 'leaderboard' %}">Leaderboard and Statistics</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_tutorial' %}">Annotator Tutorial</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_settings' %}">Viewer Settings</a>
      </th>
    </tr>
  </table>
  <h1>Admin Console</h1>
  <br />
  <form action="{% url 'admin_console' %}" method="post" class="form-signin no-pd" name="ann_to_csv">
    {% csrf_token %}
    <button class="btn btn-primary btn-rsp" name="ann_to_csv" type="submit">Download All Annotations as CSV</button>
  </form>
  <br />
  <h2>All Users</h2>
  <div>
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <div class="alert alert-info alert-dismissible">
        {% else %}
          <div class="alert alert-success alert-dismissible">
        {% endif %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message|safe }}
        </div>
      {% endfor %}
    {% endif %}
    <p><b>Invite a new user by email address</b></p>
    <form action="{% url 'admin_console' %}" method="post" class="form-signin row no-pd" name="invite_user">
      {% csrf_token %}
      <div class="col-md-9">
        {% for field in invite_user_form.visible_fields %}
          <div class="form-group">
            {{ field }}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        {% for error in invite_user_form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
        {% for field in invite_user_form.hidden_fields %}
          {{ field }}
        {% endfor %}
      </div>
      <div class="btn-container-rsp mg-left">
        <button class="btn btn-primary btn-rsp" name="invite_user" type="submit">Invite User by Email</button>
      </div>
    </form>
    <p><u><b>Invited users</b></u></p>
    <table style="width:100%">
      <tr>
        <th>Email</th>
        <th>Last Invite Date</th>
        <th>Joined</th>
        <th>Joined Username</th>
      </tr>
      {% for u in invited_users %}
        <tr>
          <td>{{ u.email }}</td>
          <td>{{ u.last_invite_date }}</td>
          <td>{{ u.joined }}</td>
          <td>{{ u.joined_username }}</td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <p><u><b>Active Assignments</b></u></p>
    <table style="width:100%">
      <tr>
        <th>Username</th>
        <th>Events Remaining</th>
        <th>Assignment Start Date</th>
        <th></th>
      </tr>
      {% for u in all_users %}
        <tr>
          <td>{{ u.username }}</td>
          <td>{{ u.events_remaining }}</td>
          <td>{{ u.date_assigned }}</td>
          <td>
            {% if u.events_remaining > 0 %}
              <form action="" method="post">
                {% csrf_token %}
                <input id="user_info" name="user_info" type="hidden" value={{ u.username }}>
                <input type="submit" name="end_assignment" class="btn btn-warning btn-rsp" value="Revoke Assignments">
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />

    <p><u><b>Joined users</b></u></p>
    <table style="width:100%">
      <tr>
        <th>Username</th>
        <th>Join Date</th>
        <th>Last Login</th>
        <th style="width:15%">Total Number of Annotations (across all projects)</th>
        <th style="width:25%">New Settings &lt;{field: [default,user set], ...}&gt;</th>
        <th>Admin Control</th>
      </tr>
      {% for u in all_users %}
        <tr>
          <td>{{ u.username }}</td>
          <td>{{ u.join_date }}</td>
          <td>{{ u.last_login }}</td>
          <td>{{ u.num_annotations }}</td>
          <td>{{ u.new_settings }}</td>
          <td>
            {% if u.is_admin %}
              <div class="btn-container-rsp mg-left">
                <form action="{% url 'admin_console' %}" method="post" class="form-signin row no-pd" name="remove_admin">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-rsp" name="remove_admin" value="{{ u.username }}" type="submit">Remove Admin</button>
                </form>
              </div>
            {% else %}
              <div class="btn-container-rsp mg-left">
                <form action="{% url 'admin_console' %}" method="post" class="form-signin row no-pd" name="add_admin">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-rsp" name="add_admin" value="{{ u.username }}" type="submit">Add Admin</button>
                </form>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br />
  </div>
  {% for project,k in conflict_anns.items %}
    <h2>{{ project }}</h2>
    <h3>Conflicting Annotations</h3>
    {% for rec,info in k.items %}
      <span style="float: left;">{{ rec }}</span>
      <div>
        <table style="width:100%">
          <tr>
            {% for cat in categories %}
              <th>
                {{ cat }}
              </th>
            {% endfor %}
          </tr>
          {% for val in info %}
            <tr>
              {% for v in val %}
                <td>
                  {{ v }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div><br />
    {% endfor %}
  {% endfor %}
  {% for project,k in unanimous_anns.items %}
    <h2>{{ project }}</h2>
    <h3>Unanimous Annotations</h3>
    {% for rec,info in k.items %}
      <span style="float: left;">{{ rec }}</span>
      <div>
        <table style="width:100%">
          <tr>
            {% for cat in categories %}
              <th>
                {{ cat }}
              </th>
            {% endfor %}
          </tr>
          {% for val in info %}
            <tr>
              {% for v in val %}
                <td>
                  {{ v }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div><br />
    {% endfor %}
  {% endfor %}
  {% for project,k in all_anns.items %}
    <h2>{{ project }}</h2>
    <h3>Unfinished Annotations</h3>
    {% for rec,info in k.items %}
      <span style="float: left;">{{ rec }}</span>
      <div>
        <table style="width:100%">
          <tr>
            {% for cat in categories %}
              <th>
                {{ cat }}
              </th>
            {% endfor %}
          </tr>
          {% for val in info %}
            <tr>
              {% for v in val %}
                <td>
                  {{ v }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div><br />
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}
