{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <span>User: {{ user.username }} ... <a href="{% url 'logout' %}">Logout</a></span>
  <table class="table table-bordered">
    <tr>
      {% if user.is_admin %}
        <th class="text-center table-dark">
          <a href="{% url 'admin_console' %}">View admin console</a>
        </th>
      {% endif %}
      <th class="text-center">
        <a href="{% url 'waveform_published_home' %}">Create more annotations</a>
      </th>
      <th class="text-center">
        <a href="{% url 'render_annotations' %}">View current annotations</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_tutorial' %}">View annotator tutorial</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_settings' %}">Change annotator settings</a>
      </th>
    </tr>
  </table>
  <h1>Admin Console</h1>
  <h2>All Users</h2>
  <div>
    <table style="width:100%">
      <tr>
        <th>Username</th>
        <th>Join Date</th>
        <th>Last Login</th>
        <th>Number of Annotations</th>
        <th>New Settings &lt;{field: [default,user set], ...}&gt;</th>
      </tr>
      {% for u in all_users %}
        <tr>
          <td>{{ u.username }}</td>
          <td>{{ u.join_date }}</td>
          <td>{{ u.last_logged_in}}</td>
          <td>{{ u.num_annotations }}</td>
          <td>{{ u.new_settings }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <h2>Conflicting Annotations</h2>
  {% for rec,info in conflict_anns.items %}
    <span style="float: left;">{{ rec }}</span>
    <div>
      <table style="width:100%">
        <tr>
          {% for cat in categories %}
            <th>
              {{ cat }}
            </th>
          {% endfor %}
        </tr>
        {% for val in info %}
          <tr>
            {% for v in val %}
              <td>
                {{ v }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div><br />
  {% endfor %}
  <h2>Unanimous Annotations</h2>
  {% for rec,info in unanimous_anns.items %}
    <span style="float: left;">{{ rec }}</span>
    <div>
      <table style="width:100%">
        <tr>
          {% for cat in categories %}
            <th>
              {{ cat }}
            </th>
          {% endfor %}
        </tr>
        {% for val in info %}
          <tr>
            {% for v in val %}
              <td>
                {{ v }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div><br />
  {% endfor %}
  <h2>Unfinished Annotations</h2>
  {% for rec,info in all_anns.items %}
    <span style="float: left;">{{ rec }}</span>
    <div>
      <table style="width:100%">
        <tr>
          {% for cat in categories %}
            <th>
              {{ cat }}
            </th>
          {% endfor %}
        </tr>
        {% for val in info %}
          <tr>
            {% for v in val %}
              <td>
                {{ v }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div><br />
  {% endfor %}
</div>

{% endblock %}
