{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  transition: 0.2s;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>

<div class="container">
  <span>User: {{ user.username }} ... <a href="{% url 'logout' %}">Logout</a></span>
  <!-- The title header of the webpage -->
  <table class="table table-bordered">
    <tr>
      {% if user.is_admin %}
        <th class="text-center">
          <a href="{% url 'admin_console' %}">View admin console</a>
        </th>
      {% endif %}
      <th class="text-center">
        <a href="{% url 'waveform_published_home' %}">Create more annotations</a>
      </th>
      <th class="text-center table-dark">
        <a href="{% url 'render_annotations' %}">View current annotations</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_tutorial' %}">View annotator tutorial</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_settings' %}">Change annotator settings</a>
      </th>
    </tr>
  </table>
  <h1>All Annotations</h1>
  <div>
    <span style="font-size: 20px; float: left;">Total Complete</span>
    <span style="font-size: 20px; float: right;">{{ all_anns_frac }}</span>
    <br /><br />
    <form action="" method="post">
      {% csrf_token %}
      {% if not requested_annotation %}
        <button  class="btn btn-primary btn-rsp" name="more_annotations"
                                 type="submit">Request More Annotations</button>
      {% else %}
        <button  class="btn btn-secondary btn-rsp" disabled name="more_annotations"
                                 type="submit">Request Pending</button>
      {% endif %}
    </form>
  </div><br /><br />
  <div><h2>Incomplete Annotations</h2></div>
  {% for rec,info in incompleted_anns.items %}
    <button class="accordion">
      <span style="float: left;">{{ rec }}</span>
      <span style="float: right;">{{ info.0 }}</span>
    </button>
    <div class="panel">
      <table style="width:100%">
        <!-- Header names of the columns -->
        <tr>
          {% for cat in categories %}
            <th>
              {{ cat }}
            </th>
          {% endfor %}
        </tr>
        <!-- Values of each column -->
        {% for val in info|slice:"1:" %}
          <tr>
            {% for v in val %}
              <td>
                {{ v }}
              </td>
            {% endfor %}
            <td>
              <a href="{% url 'waveform_published_specific' rec val.0 %}">Edit annotation</a>
            </td>
            <!-- Only display if annotation (timestamp) is found -->
            {% if val.3 != "-" %}
              <td>
                <a href="{% url 'delete_annotation' rec val.0 %}">Delete annotation</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
  <br />
  <div><h2>Complete Annotations</h2></div>
  {% for rec,info in completed_anns.items %}
    <button class="accordion">
      <span style="float: left;">{{ rec }}</span>
      <span style="float: right;">{{ info.0 }}</span>
    </button>
    <div class="panel">
      <table style="width:100%">
        <!-- Header names of the columns -->
        <tr>
          {% for cat in categories %}
            <th>
              {{ cat }}
            </th>
          {% endfor %}
        </tr>
        <!-- Values of each column -->
        {% for val in info|slice:"1:" %}
          <tr>
            {% for v in val %}
              <td>
                {{ v }}
              </td>
            {% endfor %}
            <td>
              <a href="{% url 'waveform_published_specific' rec val.0 %}">Edit annotation</a>
            </td>
            <!-- Only display if annotation (timestamp) is found -->
            {% if val.3 != "-" %}
              <td>
                <a href="{% url 'delete_annotation' rec val.0 %}">Delete annotation</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
</div><br />

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

{% endblock %}
