{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  
<h2>Entry Assessment</h2>

<div class="instructions">
<h3>Instructions</h3>

<div><ul>
    <li>You have been assigned a set of {{ total }} waveform events to annotate, which can be accessed on the <a href="{% url 'render_annotations'%}">View All Assessment Samples</a> page.</li>
    <li>This assessment will not be timed, but the staff will see the results of this assessment.</li>
    <li>You may return to this page at any time.</li>
    <li>When you are ready to submit your exam, simply press the "Submit Assessment" button below. Your responses will be sent to the administrators.</li>
    <li><b><i>You cannot change your answers once you submit.</i></b></li></li>
</ul></div>
<div>

</div>
    {% if user.practice_status == "CO" %}
        {% if user.is_annotator == True %}
          <h2>Results</h2>
        {% else %}
          <h2>Responses</h2>
        {% endif %}
      {% for project,events in results.items %}
        {% for event,responses in events.items %}
          <p>
	    {{ project }} {{ event }}&emsp; Your answer: {{ responses.1 }}
            {% if user.is_annotator %} 
              &emsp;Correct answer: {{ responses.0 }}&emsp; 
              {% if responses.0 == responses.1 %} &#10004;&#65039; {% else %} &#10060; {% endif %}
             {% endif %}
          </p>
        {% endfor %}
      {% endfor %}
      {% if user.is_annotator %} 
      <p>Score: {{ correct }}/{{ total }}</p>
      {% else %}
      <i>Score is hidden until the staff review your responses</i>
      {% endif %}
    {% endif %}
  </div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      {% if user.practice_status == "BG" %}
        {% if user.is_annotator == True %}
          <input type="submit" name="submit-practice" class="btn btn-primary btn-rsp" value="Submit Practice">
        {% else %}
          <input type="submit" name="submit-practice" class="btn btn-primary btn-rsp" value="Submit Assessment">
        {% endif %}
      {% endif %}
      {% if user.practice_status == "ED" %}
        <input type="submit" name="start-practice" class="btn btn-primary btn-rsp" value="Begin Practice">
      {% else %}
        {% if user.is_annotator == True%}
          <input type="submit" name="end-practice" class="btn btn-warning btn-rsp" value="End Practice">
        {% endif %}
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
