{% extends "base.html" %}
{% load static %}
{% load plotly_dash %}
{% block content %}
<style>
.embed-responsive {
  width: 1200px;
  height: 715px;
}
.ui-resizable-e {
  width: 50%;
}
</style>

<!-- Plotly-based waveform viewer -->
<div class="container">
  <!-- The caliper -->
  <input type="button" value="Show/Hide Caliper" style="float: right" onclick="displayCaliper();"/>
  <div id="caliper_drag_wrapper" style="display: none; position: absolute; z-index: 10000; padding: 25px;">
    <img src="{% static "caliper.png" %}" alt="Caliper" id="caliper_drag" style="cursor: pointer; height: 100px; width: 80px;"/>
  </div>
  <!-- The waveform visualizer -->
  <div>
    {% plotly_app_bootstrap name='waveform_graph' initial_arguments=dash_context %}
  </div>
</div>

<script type="text/javascript">
function displayCaliper() {
  var caliper_wrapper = document.getElementById("caliper_drag_wrapper");
  var caliper_resize = document.getElementsByClassName("ui-wrapper")[0];
  var caliper = document.getElementById("caliper_drag");
  if (caliper_wrapper.style.display == "none") {
    caliper_wrapper.style.display = "inline-block";
    caliper_wrapper.style.position = "absolute";
    caliper_wrapper.style.left = "89%";
    caliper_wrapper.style.top = "20%";
    caliper_wrapper.style.padding = "25px";
    caliper_resize.style.height = "100px";
    caliper_resize.style.width = "80px";
    caliper.style.height = "100px";
    caliper.style.width = "80px";
  } else {
    caliper_wrapper.style.display = "none";
  }
}

$(document).ready(function() {
  $("#caliper_drag").resizable({
    autoHide: true,
    handles: "e",
    distance: 0
  });
  $("#caliper_drag_wrapper").draggable({
    appendTo: "body",
    start: function(event, ui) {
      isDraggingMedia = true;
    },
    stop: function(event, ui) {
      isDraggingMedia = false;
    }
  });
});
</script>
{% endblock %}
