{% extends "base.html" %}
{% load static %}
{% load plotly_dash %}
{% block content %}
<style>
.embed-responsive {
    width: 1200px;
    height: 750px;
}
</style>
<!-- Plotly-based waveform viewer -->
<div class="container">
  <span>{{ request.user }} ... <a href="{% url 'logout' %}">Logout</a></span>
  <!-- The title header of the webpage -->
  <h1>
    Waveform Annotation Viewer
  </h1>
  <h4>
    <a href="{% url 'render_annotations' %}">View current annotations</a><br>
    <a href="{% url 'viewer_tutorial' %}">View annotator tutorial</a><br>
    <a href="{% url 'viewer_settings' %}">Change annotator settings</a>
  </h4>
  <!-- The plot goes here -->
  {% plotly_app_bootstrap name='waveform_graph' initial_arguments=dash_context %}
</div>
{% endblock %}
