{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <style>
      * {
          box-sizing: border-box;
      }
      .row {
          margin-left: -5px;
          margin-right: -5px;
      }
      .column {
          float: left;
          width: 50%;
          padding: 10px;
      }
      .row::after {
          content: "";
          clear: both;
          display: table;
      }
      .stats table {
          table-layout: fixed;
          width: 100%;
          border: 2px solid black;
      }
      .stats th {
          background-color: white;
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
          width: 33%;
      }
      .stats td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
          width: 300px;
      }
      .stats tr:nth-child(odd) {
          border: 1px solid black;
          background-color: #f2f2f2;
      }
  </style>
  <h1>Personal Rankings</h1>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Day</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_today %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past 7 Days</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_week %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Month</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_month %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>All Time</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_all %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided True</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total True</th>
        </tr>
        {% for rank, val in user_true %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided False</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total False</th>
        </tr>
        {% for rank, val in user_false %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br><br>
  <h1>Dataset Progress</h1>
  <div id="data"
    one_ann="{{one_ann}}"
    unan_true="{{unan_true}}"
    unan_false="{{unan_false}}"
    unan_uncertain="{{unan_uncertain}}"
    unan_reject="{{unan_reject}}"
    true_adj="{{true_adj}}"
    false_adj="{{false_adj}}"
    uncertain_adj="{{uncertain_adj}}"
    reject_adj="{{reject_adj}}"
    conflict="{{conflict}}"
    no_anns="{{no_anns}}"
    num_events="{{num_events}}"
    >
  </div>
  <div class="row">
    <div id="progress" class="row" style="width: 700px; height: 400px; margin:auto"></div>
    <div class="row">
      <div class="column">
        <div id="unanimous" class="row" style="width: 700px; height: 400px; margin:left"></div>
      </div>
      <div class="column">
        <div id="reviewed" class="row" style="width: 700px; height: 400px;"></div>
      </div>
    </div>
  </div>
  <br>
  <h1>Global Leaderboard</h1>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Day</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_today|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past 7 Days</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_week|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Month</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_month|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>All Time</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_all|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided True</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total True</th>
        </tr>
        {% for user, val in glob_true|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided False</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total False</th>
        </tr>
        {% for user, val in glob_false|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <br>
</div>

<script>
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var one_ann = Number(document.getElementById('data').getAttribute('one_ann'))
    var unan_true = Number(document.getElementById('data').getAttribute('unan_true'))
    var unan_false = Number(document.getElementById('data').getAttribute('unan_false'))
    var unan_uncertain = Number(document.getElementById('data').getAttribute('unan_uncertain'))
    var unan_reject = Number(document.getElementById('data').getAttribute('unan_reject'))
    var true_adj = Number(document.getElementById('data').getAttribute('true_adj'))
    var false_adj = Number(document.getElementById('data').getAttribute('false_adj'))
    var uncertain_adj = Number(document.getElementById('data').getAttribute('uncertain_adj'))
    var reject_adj = Number(document.getElementById('data').getAttribute('reject_adj'))
    var conflict = Number(document.getElementById('data').getAttribute('conflict'))
    var no_anns = Number(document.getElementById('data').getAttribute('no_anns'))
    var num_events = Number(document.getElementById('data').getAttribute('num_events'))

    var progress_breakdown = google.visualization.arrayToDataTable([
      ['Category', 'Number of Events'],
      ['Unanimous Decisions', unan_true + unan_false + unan_uncertain + unan_reject],
      ['Conflicts Resolved', true_adj + false_adj + uncertain_adj + reject_adj],
      ['Only One Decision', one_ann],
      ['Unresolved Conflicts', conflict],
      ['No Decisions Made', no_anns],
    ]);

    var unanimous = google.visualization.arrayToDataTable([
      ['Category', 'Number of Events'],
      ['True', unan_true],
      ['False', unan_false],
      ['Uncertain', unan_uncertain],
      ['Reject', unan_reject]
    ]);

    var reviewed = google.visualization.arrayToDataTable([
      ['Category', 'Number of Events'],
      ['True', true_adj],
      ['False', false_adj],
      ['Uncertain', uncertain_adj],
      ['Reject', unan_reject]
    ]);

    var options_p = {
      title: "Event Classification Progress Over " + num_events + " Events",
      pieHole: 0.4,
      chartArea: {top: "10%", bottom: "10%", left: "0%", right: "0%"},
      pieSliceText: "value"
    };
    var options_u = {
      title: "Classification of " + (unan_true + unan_false + unan_uncertain + unan_reject) + " Unanimous Events",
      pieHole: 0.4,
      chartArea: {top: "10%", bottom: "10%", left: "0%", right: "0%"},
      pieSliceText: "value"
    };
    var options_r = {
      title: "Classification of " + (true_adj + false_adj + uncertain_adj + reject_adj) + " Adjudicated Events",
      pieHole: 0.4,
      chartArea: {top: "10%", bottom: "10%", left: "0%", right: "0%"},
      pieSliceText: "value"
    };

    var chart = new google.visualization.PieChart(document.getElementById('progress'));
    chart.draw(progress_breakdown, options_p);
    var chart = new google.visualization.PieChart(document.getElementById('unanimous'));
    chart.draw(unanimous, options_u);
    var chart = new google.visualization.PieChart(document.getElementById('reviewed'));
    chart.draw(reviewed, options_r);
  }
</script>
{% endblock %}
