{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <style>
      * {
          box-sizing: border-box;
      }

      .row {
          margin-left: -5px;
          margin-right: -5px;
      }

      .column {
          float: left;
          width: 50%;
          padding: 10px;
      }

      .row::after {
          content: "";
          clear: both;
          display: table;
      }

      .stats table {
          table-layout: fixed;
          width: 100%;
          border: 2px solid black;
      }

      .stats th {
          background-color: white;
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
          width: 33%;
      }

      .stats td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
          width: 300px;
      }

      .stats tr:nth-child(odd) {
          border: 1px solid black;
          background-color: #f2f2f2;
      }
  </style>
  <h1>Personal Rankings</h1>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Day</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_today %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past 7 Days</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_week %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Month</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_month %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>All Time</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total Annotations</th>
        </tr>
        {% for rank, val in user_all %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided True</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total True</th>
        </tr>
        {% for rank, val in user_true %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="2" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided False</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>Total False</th>
        </tr>
        {% for rank, val in user_false %}
        <tr>
          {% if rank == 1 %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ rank }}</td>
          {% endif %}
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br><br>
  <h1>Dataset Progress</h1>
  <div class="row">
    <script>
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var num_adj = Number(document.getElementById('progress').getAttribute('num-adj'))
        var conflicts = Number(document.getElementById('progress').getAttribute('conflicts'))
        var one_ann = Number(document.getElementById('progress').getAttribute('one_ann'))
        var unanimous = Number(document.getElementById('progress').getAttribute('unanimous'))
        var num_events = Number(document.getElementById('progress').getAttribute('num_events'))
        conflicts -= num_adj
        var no_decision = num_events - unanimous - one_ann - conflicts - num_adj
        var data = google.visualization.arrayToDataTable([
          ['Category', 'Number of Events'],
          ['Unanimous Decision',      unanimous],
          ['Only One Decision', one_ann],
          ['Conflicts Resolved',     num_adj],
          ['Unresolved Conflicts',  conflicts],
          ['No Decisions Made', no_decision],
        ]);

        var options = {
          title: "Event Classification Progress Over " + num_events + " Events",
          pieHole: 0.4,
          chartArea: {left: 50, right: 5, bottom: 5, top: 100}
        };

        var chart = new google.visualization.PieChart(document.getElementById('progress'));
        chart.draw(data, options);
      }
    </script>
  </div>
  <div id="progress" style="width: 1000px; height: 600px;" 
    num-adj="{{num_adj}}"
    unanimous="{{complete}}"
    num_events="{{num_events}}"
    one_ann="{{one_ann}}"
    conflicts="{{conflict_anns}}"
  >
  </div>
  <br>
  <h1>Global Leaderboard</h1>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Day</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_today|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past 7 Days</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_week|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Past Month</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_month|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>All Time</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total Annotations</th>
        </tr>
        {% for user, val in glob_all|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided True</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total True</th>
        </tr>
        {% for user, val in glob_true|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <table class="stats">
        <tr>
          <th colspan="3" style="background-color: rgba(0,122,254,0.23)">
            <h2>Decided False</h2></th>
        </tr>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Total False</th>
        </tr>
        {% for user, val in glob_false|slice:":10" %}
        <tr>
          {% if forloop.first %}
          <td>1 &#127942;</td>
          {% else %}
          <td>{{ forloop.counter }}</td>
          {% endif %}
          <td>{{ user }}</td>
          <td>{{ val }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <br>
</div>
{% endblock %}
