{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Answer practice questions</h2>
  <div class="instructions">
  <h3>Instructions</h3>
  </div>
  <div><ul>
    <li>You will be assigned a set of 25 waveform events to complete.</li>
    <li>After you have completed all 25 events, the answers will be revealed to you on this page.</li>
    <li>This assessment will not be timed or graded, and may be exited at any time by pressing the "End Practice" button below.</li>
    <li>Be aware that starting this test will result in you losing any current assignment you may be in. All events that have not been given a decision or saved for later will be retained; all unmarked events will be removed.</li>
    <li>When you wish to continue working on the main dataset, simply press the "End Practice" button below. You may assign yourself more events afterwards.</li>
    <li>You may take the practice test as many times as you wish, but your score will be reset after you end the practice session.</li>
  </ul></div>
  <div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="start-practice" class="btn btn-primary btn-rsp" value="Begin Practice">
      </form>
  </div>
</div>
{% endblock %}
