{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Answer practice questions</h2>
  <div class="instructions">
  <h3>Instructions</h3>
  </div>
  <div><ul>
    <li>You will be assigned a set of {{ total }} waveform events to complete.</li>
    <li>After you have completed all {{ total }} events, the answers will be revealed to you on this page.</li>
    <li>This assessment will not be timed or graded, and may be exited at any time by pressing the "End Practice" button below.</li>
    <li>When you wish to continue working on the main dataset, simply press the "End Practice" button below. You will resume working on your active assignment.</li>
    <li>You may take the practice test as many times as you wish, but <b>your score will be lost after you end the practice session.</b></li>
  </ul></div>
  <div>
    {% if user.practice_status == "CO" %}
      <h2>Results</h2>
      {% for project,events in results.items %}
        {% for event,responses in events.items %}
          <p>
	    {{ project }} {{ event }}&emsp; Correct answer: {{ responses.0 }}&emsp; Your answer: {{ responses.1 }}
            {% if responses.0 == responses.1 %} &#10004;&#65039; {% else %} &#10060; {% endif %}
          </p>
        {% endfor %}
      {% endfor %}
      <p>Score: {{ correct }}/{{ total }}</p>
    {% endif %}
  </div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      {% if user.practice_status == "BG" %}
        <input type="submit" name="submit-practice" class="btn btn-primary btn-rsp" value="Submit Practice">
      {% endif %}
      {% if user.practice_status == "ED" %}
        <input type="submit" name="start-practice" class="btn btn-primary btn-rsp" value="Begin Practice">
      {% else %}
        <input type="submit" name="end-practice" class="btn btn-warning btn-rsp" value="End Practice">
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
