{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Form to change graph settings</h1>
  <br \>
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible">
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info alert-dismissible">
      {% else %}
        <div class="alert alert-success alert-dismissible">
      {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message|safe }}
      </div>
    {% endfor %}
  {% endif %}
  <form action="" method="post" enctype="multipart/form-data" class="form-signin no-pd" autocomplete="off">
    {% csrf_token %}
    {% for field in settings_form.visible_fields %}
      <div class="form-group row">
        <label class="col-md-3" for="{{ field.id_for_label }}">
          <div class="field-label">
            {{ field.label|capfirst }}
            {% if field.field.required %}
              <a style="color:red"> *</a>
            {% endif %}
          </div>
        </label>
        <div class='col-md-9'>
          <p>{{ field.help_text }}</p>
          {{ field }}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        </div>
      </div>
      <hr>
    {% endfor %}
    {% for error in settings_form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
    {% for field in settings_form.hidden_fields %}
      {{ field }}
    {% endfor %}
    <button class="btn btn-primary btn-rsp" name="change_settings" type="submit">Change Settings</button>
    <button class="btn btn-primary btn-rsp" name="reset_default" type="submit">Reset Default</button>
  </form>
</div>
<br>
{% endblock %}
