{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <span>User: {{ user.username }} ... <a href="{% url 'logout' %}">Logout</a></span>
  <table class="table table-bordered">
    <tr>
      {% if user.is_admin %}
        <th class="text-center">
          <a href="{% url 'admin_console' %}">View admin console</a>
        </th>
      {% endif %}
      <th class="text-center">
        <a href="{% url 'waveform_published_home' %}">Create more annotations</a>
      </th>
      <th class="text-center">
        <a href="{% url 'render_annotations' %}">View current annotations</a>
      </th>
      <th class="text-center table-dark">
        <a href="{% url 'viewer_tutorial' %}">View annotator tutorial</a>
      </th>
      <th class="text-center">
        <a href="{% url 'viewer_settings' %}">Change annotator settings</a>
      </th>
    </tr>
  </table>
  <h1>Annotator Tutorial</h1>
  <div>
    <div class='col-4' style='display: inline-block;'>
      <ol>
        <li>Current record</li>
        <li>Current event</li>
        <li>Triggered alarm annotation</li>
        <li>Annotation decision</li>
        <li>Annotator comments</li>
        <li>Submit new annotation for this record and event</li>
        <li>Go to the previous annotation without saving annotation decision and comments</li>
        <li>Go to the next annotation without saving annotation decision and comments</li>
        <li>Download the current screen (only plotted signals, not sidebar) as a PNG image</li>
        <li>Pan across signal to view different ranges (click and hold anywhere, drag to the right to move the signal to the right / move backwards in time, drag upwards or downwards to view upper and lower portions of the signal)</li>
        <li>Zoom in (roughly by a factor of two each time)</li>
        <li>Zoom out (roughly by a factor of two each time)</li>
        <li>View the entire signal</li>
        <li>Go to the Plotly website which is the foundation of this plot</li>
        <li>The vertical blue line represents the timestamp of the alarm annotation</li>
      </ol>
    </div>
    <div class='col-7' style='display: inline-flex; vertical-align: top;'>
      <img src="{% static 'tutorial_image.png' %}" alt="Tutorial Diagram" style='width: 850px'/>
    </div>
  </div>
</div>
{% endblock %}
