<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% include "base_css.html" %}
    {% block local_css %}
    <style>
      button.btn.btn-outline-primary:hover a{
        color: white;
      }
      /* Override default bootstrap CSS */
      @media (min-width: 576px) {
        .container {
          max-width: 90%;
        }
      }
      @media (min-width: 768px) {
        .container {
          max-width: 90%;
        }
      }
      @media (min-width: 992px) {
        .container {
          max-width: 90%;
        }
      }
      @media (min-width: 1200px) {
        .container {
          max-width: 90%;
        }
      }
    </style>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  {% block navbar %}
  <div class="container">
    <!-- The title header of the webpage -->
    <span>User: {{user.username}}... <a href="{% url 'logout' %}">Logout</a></span>
    <!-- The different pages to chose from -->
    <table class="table">
      <tr class="row">
        {% if user.is_admin %}
          {% url 'admin_console' as url %}
          <th class="text-center col">
            <div class="dropdown">
              <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
                <a href="{% url 'admin_console' %}" style="font-size: large;">Admin Console</a>
              </button>
            </div>
          </th>
        {% endif %}
        {% if user.is_adjudicator %}
          <th class="text-center col">
            <div class="dropdown">
              <button class="btn dropdown-toggle {% if 'adjudicator_console' in request.path or 'adjudications' in request.path or 'adjudicate' in request.path %} btn-outline-primary {% else %} btn-link {% endif %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: large;">
                Adjudicator Console
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'adjudicator_console' %}">Adjudicate More Waveforms</a>
                <a class="dropdown-item" href="{% url 'render_adjudications' %}">View Adjudications</a>
              </div>
            </div>
          </th>
        {% endif %}
        {% url 'viewer_overview' as url %}
        <th class="text-center col">
          <div class="dropdown">
            <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
              <a href="{% url 'viewer_overview' %}" style="font-size: large;">Overview</a>
            </button>
          </div>
        </th>
        {% if user.is_annotator is True or user.practice_status != 'CO' %} 
          <th class="text-center col">
            <div class="dropdown">
              <button class="btn {% if 'waveforms' in request.path and 'annotations' not in request.path and 'leaderboard' not in request.path and 'practice' not in request.path and 'tutorial' not in request.path and 'overview' not in request.path and 'settings' not in request.path and 'admin_console' not in request.path and 'adjudicator_console' not in request.path and 'assessment' not in request.path and 'adjudications' not in request.path and 'adjudicate' not in request.path %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
                
                <a href="{% url 'waveform_published_home' %}" style="font-size: large;">
                  {%if user.practice_status == "ED"%}
                  Create Annotation
                  {% else %}
                  {% if user.is_annotator == False%}
                    Annotate Assessment Sample
                  {% else %}
                    Annotate Practice Sample
                  {% endif %}
                  {% endif %}
                </a>
              </button>
            </div>
          </th>
        {% endif %}
        <th class="text-center col">
          <div class="dropdown">
            <button class="btn {% if 'waveforms/annotations' in request.path %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
              <a href="{% url 'render_annotations' %}" style="font-size: large;">
              {%if user.practice_status == "ED"%}
                Current Assignment
              {% else %}
                {% if user.is_annotator == False%}
                  View All Assessment Samples
                {% else %}
                  View All Practice Samples
                {% endif %}
              {% endif %}
              </a>
            </button>
          </div>
        </th>
        
        {% if user.is_annotator %}
          {% url 'practice_test' as url %}
          <th class="text-center col">
            <div class="dropdown">
              <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
                <a href="{% url 'practice_test' %}" style="font-size: large;">
                {%if user.practice_status == "ED"%}
                  Practice Test
                {% else %}
                  Practice Info
                {% endif %}
                </a>
              </button>
            </div>
          </th>

        {% else %}
          {% url 'assessment' as url %}
          <th class="text-center col">
            <div class="dropdown">
              <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
                <a href="{% url 'assessment' %}" style="font-size: large;">
                Assessment Info
                </a>
              </button>
            </div>
          </th>

        {% endif %}
        {% url 'leaderboard' as url %}
        <th class="text-center col">
          <div class="dropdown">
            <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
              <a href="{% url 'leaderboard' %}" style="font-size: large;">Stats & Leaderboard</a>
            </button>
          </div>
        </th>
        {% url 'viewer_tutorial' as url %}
        <th class="text-center col">
          <div class="dropdown">
            <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
              <a href="{% url 'viewer_tutorial' %}" style="font-size: large;">Tutorial</a>
            </button>
          </div>
        </th>
        {% url 'viewer_settings' as url %}
        <th class="text-center col">
          <div class="dropdown">
            <button class="btn {% if request.path == url %} btn-outline-primary {% else %} btn-link {% endif %}" type="button">
              <a href="{% url 'viewer_settings' %}" style="font-size: large;">Settings</a>
            </button>
          </div>
        </th>
      </tr>
    </table>
  </div>
  {% endblock %}

  {% block body %}
  <body class="flexbody">
    <main>{% block content %}{% endblock %}</main>
  </body>
  {% endblock %}

</html>
