{% extends "base.html" %}
{% block navbar%} {% endblock %}
{% block content %}
<body>
  <div class="container">
    <div>
      <div>
        <br />
        <div>
          <h3>Login</h3>
        </div>
        <div>
          <form method="POST" action="">
            {% csrf_token %}
            <div>
              <p>Enter username here: <input type="text" name="username" placeholder="Username..."></p>
            </div>
            <div>
              <p>Enter password here: <input type="password" name="password" placeholder="Password..."></p>
            </div>
            <div>
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
        {% for message in messages %}
          <p id="messages">
            {{ message }}
          </p>
        {% endfor %}
        <div>
          <div>
            Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
          </div>
          <div>
            Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a>
          </div>
        </div>
        <br />
        <div>
          <h4>Instructions</h4>
          <p><ol>
            <li>To start, click on the "Sign Up" link below the "Login" button to create an account.</li>
            <li>Enter your desired username and password. You will be asked to enter your password twice to confirm.</li>
            <li>After creating an account, you can now sign in here.</li>
          </ol></p>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
