{% extends "base.html" %}
{% block content %}

<body>
  <div class="container">
    <div>
      <div>
        <br />
        <div>
          <h3>Register Account</h3>
        </div>
        <form method="POST" action="">
          {% csrf_token %}
          <div>
            <p>Enter username here: {{ form.username }}</p>
          </div>
          <div>
            <p>Enter email here: {{ form.email }}</p>
          </div>
          <div>
            <p>Enter password here: {{ form.password1 }}</p>
          </div>
          <div>
            <p>Re-enter password here: {{ form.password2 }}</p>
          </div>
          <div>
            <input type="submit" value="Register Account">
          </div>
        </form>
        {{form.errors}}
        <br />
        <div>
          <div>
            Already have an account? <a href="{% url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
